ul.tabs {
  display: flex;
}

.tabs li {
  display: inline-block;
  width: 50%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  color: #999;
  &:hover {
    cursor: pointer;
  }
}

.tabs li.active {
  background-color: #2ac1bc;
  color: #fff;
  &:hover {
    cursor: auto;
  }
}
